body
{
	font-family:Arial Black;
	background-color: black;
	margin:auto;
}

.video
{
	display:block;
	margin:auto;
	height: 90vh;
	width: 100vw;
}

.topmenu{
	height: 10vh;
	width: 100vw;
	background-color: #555
}